/*
 * Thin 
 * ExtraLight
 * Light
 * Regular
 * Medium
 * SemiBold
 * Bold
 * Black
 * Super
 */

@font-face {
    font-family: 'Graphik';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-100-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-200-Extralight.otf') format('opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-300-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-400-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-500-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-600-Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-700-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-800-Black.otf') format('opentype');
}
@font-face {
    font-family: 'Graphik';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Graphik/Graphik-900-Super.otf') format('opentype');
}

