
/*
 * Thin 
 * ExtraLight
 * Light
 * Regular
 * Medium
 * SemiBold
 * Bold
 * Black
 * Super
 */

 @font-face {
    font-family: 'Suisse';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Suisse/SuisseIntl-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'Suisse';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Suisse/SuisseIntl-Ultralight.otf') format('opentype');
}
@font-face {
    font-family: 'Suisse';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Suisse/SuisseIntl-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Suisse';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Suisse/SuisseIntl-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Suisse';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Suisse/SuisseIntl-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Suisse';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Suisse/SuisseIntl-SemiBold.otf') format('opentype');
}
@font-face {
    font-family: 'Suisse';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Suisse/SuisseIntl-Bold.otf') format('opentype');

}
@font-face {
    font-family: 'Suisse';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Suisse/SuisseIntl-Black.otf') format('opentype');
}


